/*h1 {
	color: black;
}

#first-title {
	color: brown;
}*/
.first-title {
	color: orange;
}

/*---------меню nav-----------*/

.nav-list {
	list-style-type: none;
}

.nav-list__item {
	color: #ccc;
	font-size: 14px;
	font-style: italic;
	font-family: Arial;
}

.nav-list__link {
	color: inherit;
	text-decoration: none;
}

/*-----------/nav-------------*/


/*------------p------------*/
.about-p {
	font-family: Verdana;
	font-size: 16px;
	font-style: normal;
	/*font-weight: bold;*/
	text-decoration: underline;
	text-align: justify;
}

.about-p__color {
	font-style: italic;
	font-weight: bold;
	color: red;
}


/*------------/p---------------*/

/*----------img----------*/

.product-photo {
	display: block;
	width: 80%;
	margin: 0 auto;
}


/*-----------/img-------------*/
